/*===== Reset =====*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
  }

/*==== All ====*/
  body {
    padding: 30px;
    background-color: #00c39a;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }

  button {
    cursor: pointer;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: calc(100vw - 60px);
    height: calc(100vh - 60px);
    background-color: #121418;
  }

  /*===== Header & Footer =====*/
  header,
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }

  /*===== Header =====*/
    .logo-area a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  
  .header-items {
    font-size: 14px;
    display: flex;
    gap: 30px;
  }

  .header-items a {
    text-decoration: none;
    color: #fff;
  }
  
  .header-items a:hover {
    border-bottom: 1px solid #00c39a;
    color: #00c39a;
  }
  
  a.account {
    color: #00c39a;
  }
  
  a.account:hover {
    color: #fff;
    border-bottom: 1px #fff solid;
  }
  
  /*===== Main =====*/
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .content {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }

  /*====== Description Area =====*/
  .description-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .description-area h1 {
    text-align: center;
  }

  .description-area p {
    text-align: center;
  }

  /*======= Img Area =======*/
  .img-area img {
    width: 500px;
    border-radius: 10px;
  }

  /*===== Main Button ======*/
  #sender {
    cursor: pointer;
    background: linear-gradient(
      to right,
      #00c299,
      #17c395,
      #7fc882,
      #c9cc75,
      #e7cd70
    );
    justify-content: space-between;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
  }

  #sender:hover {
    background: linear-gradient(
      to right,
      #e7cd70,
      #c9cc75,
      #7fc882,
      #17c395,
      #00c299
    );
  }

  #sender i {
    transition: 0.3s;
  }

  #sender:hover i {
      transform: translateX(10px);
  }

  /*====== Footer Configurations =====*/
  footer a {
    font-weight: 400;
    text-decoration: none;
    color: #9ba0a6;
    font-size: 12px;
  }
  
  footer h6 {
    color: #9ba0a6;
    font-weight: 400;
  }
  
 /*==================================*/

 

 

  
 