* {
  margin: 0;
  padding: 0;
  font-family: "Madimi One", sans-serif;
  text-decoration: none;
}

body {
  background-color: #ccbcdc;
}

table,
th,
td {
  border: 4px solid #000;
  background-color: #695971;
}

table {
    margin: 50px;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.home {
  background-color: #000;
  color: #fff;
  margin-inline: 30px;
  border-inline: 5px solid #000;
  display: flex;
  flex-direction: column;
}

header {
  padding: 25px;
  margin-inline: 30px;
  border: 5px solid #000;
  background-color: #695971;
}

h1 {
  padding: 30px;
  text-align: center;
}

.home h2 {
  padding-inline: 50px;
  margin-bottom: 30px;
}

ul {
  list-style: none;
}

ol {
  display: flex;
  justify-content: space-around;
  border: 5px solid #000;
  padding: 30px 20px;
}

img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

ol li {
    margin-bottom: 20px;
}

ol h2 {
    padding-bottom: 30px;
}

.main-p {
  padding: 0 50px 30px 50px;
}

.menu {
  padding-inline: 30px;
}

.menu ol,
.menu ul,
.menu li,
.menu span,
.menu p,
.menu h3 {
  background-color: #695971;
}

.menu-informations {
  background-color: #000;
  display: flex;
  justify-content: center;
  margin-inline: 30px;
}

footer {
  padding: 10px;
  background-color:#695971;
  margin-inline: 30px;
  display: flex;
  justify-content: space-around;
  border: 5px solid #000;
  align-items: center;
}

footer ul {
  display: flex;
  gap: 10px;
}

footer ul li a {
  color: #000;
}
