:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  position: relative;
  background: linear-gradient(
    120deg,
    #fff,
    #fff 62%,
    #eb1f1f 62%,
    #f70404 100%
  );
  padding: 0 5rem 3rem 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
}

.logo img {
  width: 100%;
  max-width: 20rem;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  padding: 6rem 2rem 2rem 2rem;
}

.text-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 5rem;
  color: #bb0101;
}

.title,
.btn {
  font-family: "Pixelify Sans", sans-serif;
}

.home-description {
  font-family: "Poppins", sans-serif;
  max-width: 40rem;
  font-size: 1.6rem;
  text-align: justify;
}

.img-area img {
  width: 100%;
  max-width: 50rem;
}

.btn {
  width: 100%;
  max-width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #f70404;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 50rem;
}

.btn i {
  transition: 0.3s;
  transform: translateX(0px);
  color: #fff;
}

.btn:hover {
    background-color: #eb1f1f;
}

.btn:hover i {
  transform: translateX(5px);
}

@media(max-width: 900px) {
  main {
    flex-direction: column;
    gap: 7rem
  }
  header {
    position: static;
  }
  .text-area {
    gap: 2rem;
  }
  .text-area a {
    margin: 0 auto;
  } 
  .text-area p {
    margin: 0 auto 2rem;
  }
  
}

@media(max-width: 500px) {
  main {
    padding-top: 3rem;
    gap: 5rem;
  }
  .text-area a {
    background-color: #4169e1;
  }
}